[Desktop Entry]
Hidden=false
Exec=esudo eepDater
Icon=update-manager
Type=Application
Categories=System;
NoDisplay=false
StartupNotify=true
Comment=An elementary frontend for system updates written in py-efls.
Terminal=false
Name=eepDater
StartupWMClass=eepdater
